
.work-sans-font {
  font-family: "Work Sans", sans-serif;

 
}
/* shared style */
.display-flex {
    display: flex;
}
.text-gray{
    color:#424242 ;

}
.bg-color{
    background: rgba(255, 144, 14, 0.1);
}
.button-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;


}

/* header style */
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}

/* nav style  */
.nav-item{
    list-style:none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{
font-weight: 700;
font-size: 4rem;

}
.banner-img{
    width: 100%;
}

/* responsive media query */

@media screen and (max-width: 576px) {
.navbar, .nav-links{
    flex-direction: column;

}    
}